* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

:root {
    --primary-col: #AB23CC;
    --sec-col: #FBB159;
}

body {
    background: url(images/newheadertop.png);
    background-color: var(--primary-col);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -40px -30px;
    max-width: 1440px;
    margin: 0 auto;
}

.header-for-navbar {
    background-color: transparent;
}

.navbar-mobile {
    padding: 1em 7%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}

.navbar-desktop {
    display: none;
}

.brandwrap img {
    width: 150px;
}

.hero {
    padding: 1.5em 10%;
    padding-bottom: 18em;
}

.main-heading {
    font-size: 33.45px;
    color: white;
}

.hero {
    background-size: contain;
    background-position: bottom right -50px;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.main-text {
    padding-top: 2em;
    font-size: 14px;
    color: white;
    font-weight: 400;
}

.cta-btn {
    background-color: #FBB159;
    text-decoration: none;
    color: #370244;
    display: block;
    width: max-content;
    padding: .8em 1.4em;
    border-radius: 1em;
    font-size: 16px;
    font-weight: 600;
    margin-top: 3em;
    margin-bottom: 1.5em;
}

.hero .main-text:nth-of-type(2) {
    padding-top: 0;
}

.main-subtext {
    display: block;
    font-size: 10px;
    line-height: 1.25;
    width: 80%;
}

.dog-img-container {
    width: 100%;
    z-index: -1;
}

.dog-mobile {
    width: 120%;
    position: absolute;
    bottom: -60px;
    right: -145px;
    z-index: -1;
}

.boneimg {
    position: absolute;
    left: 30px;
    bottom: 90px;
}

.pawsimg {
    position: absolute;
    right: 10px;
    bottom: 300px;
    z-index: -1;
}

.dog-desk,
.pawsimgdesk,
.boneimgdesk {
    display: none;
}

.features {
    padding: 2em 7%;
    background-color: white;
}

.sub-heading {
    font-size: 18px;
    color: var(--sec-col);
    text-align: center;
    padding-bottom: .5em;
}

.unpacked-food {
    text-align: center;
    padding: 1em 0;
    padding-top: 5em;
    position: relative;
}

.bowl-img {
    width: 200px;
}

.comparison-text {
    font-family: "Dancing script";
    font-weight: 700;
    font-size: 18px;
    color: #AB23CC;
}


/* 1st group */

.comparison-text:nth-of-type(1) {
    position: absolute;
    top: 60px;
    left: 30px;
}

.arrow {
    position: absolute;
    top: 80px;
    left: 65px;
}


/* 2nd group */

.comparison-text:nth-of-type(2) {
    position: absolute;
    top: 15px;
    left: 150px;
}

.arrowtwo {
    position: absolute;
    top: 40px;
    left: 50%;
}


/* group 3 */

.comparison-text:nth-of-type(3) {
    position: absolute;
    top: 78px;
    right: 30px;
}

.arrowthree {
    position: absolute;
    top: 80px;
    right: 100px;
}


/* group 4 */

.comparison-text:nth-of-type(4) {
    position: absolute;
    bottom: 78px;
    right: 8px;
}

.arrowfour {
    position: absolute;
    bottom: 80px;
    right: 70px;
}


/* group 5*/

.comparison-text:nth-of-type(5) {
    position: absolute;
    bottom: -15px;
    left: 100px;
}

.arrowfive {
    position: absolute;
    bottom: 10px;
    left: 160px;
}


/* group 6 */

.comparison-text:nth-of-type(6) {
    position: absolute;
    bottom: 78px;
    left: 8px;
}

.arrowsix {
    position: absolute;
    bottom: 100px;
    left: 50px;
}

.border-container {
    border-bottom: .5em dashed #370244;
    padding-bottom: 3.5em;
}

.sub-heading-two {
    font-size: 18px;
    color: var(--sec-col);
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.packed-food {
    text-align: center;
    padding: 1em 0;
    padding-top: 5em;
    position: relative;
}

.packet-img {
    width: 200px;
    margin-right: -40px;
}

.packed-food .comparison-text:nth-of-type(3) {
    position: absolute;
    top: 78px;
    right: 10px;
}

.packed-food .comparison-text:nth-of-type(4) {
    position: absolute;
    bottom: 95px;
    right: -15px;
}

.packed-food .comparison-text:nth-of-type(5) {
    position: absolute;
    bottom: -15px;
    left: 120px;
}

.packed-food .comparison-text:nth-of-type(2) {
    position: absolute;
    top: 15px;
    left: 130px;
}

.usp {
    padding: 1.5em 7%;
    background-color: var(--primary-col);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1.5em;
    position: relative;
}

.usp-maintext {
    font-size: 15px;
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/3;
    color: white;
    padding-bottom: 1em;
}

.usp-div {
    display: flex;
    align-items: center;
}

.usp-img img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: .75em;
}

.usp-text {
    font-size: 11px;
    color: white;
    font-weight: 700;
}

.pawmoblhs {
    position: absolute;
    width: 27px;
    left: 10px;
    top: 30px;
}

.pawmobrhs {
    position: absolute;
    width: 27px;
    right: 10px;
    top: 30px;
}

.video .pawmoblhs {
    top: 32px;
    left: 50px;
}

.video .pawmobrhs {
    top: 32px;
    right: 50px;
}

.meal-plans {
    padding: 2em 7%;
    text-align: center;
    background-color: white;
}

.foodpacketimg {
    width: 40% !important;
}

.meal-heading {
    color: #FBB159;
    font-size: 18px;
    text-align: center;
    padding-bottom: .25em;
}

.meal-text {
    color: #370244;
    font-size: 14px;
    text-align: center;
}

.meal-plans img {
    width: 173px;
    margin: 2em 0;
}

.meal-subtext {
    color: var(--primary-col);
    font-size: 12px;
    width: 70%;
    margin: 0 auto;
}

.meal-plans .border-container {
    margin: 2em 0;
    padding: 0;
    padding-bottom: 2em;
}

.video {
    padding: 2em 7%;
    background-color: var(--primary-col);
    text-align: center;
    position: relative;
}

.video .main-heading {
    color: #FBB159;
    padding: 0;
    padding: 0 .5em;
    font-size: 22px;
}

.video-subtext {
    font-size: 12px;
    color: white;
    width: 90%;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 1em;
}

.wpaw {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.paw-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 300px;
    height: 216px;
    margin-top: 1.5em !important;
    border-radius: 1.5em;
    outline: none;
    border: none;
}

.testimonials {
    padding: 2em 5%;
    text-align: center;
    background-color: white;
}

.testimonials .main-heading {
    padding: 0;
    color: var(--primary-col);
}

.testimony-card {
    width: 80%;
    margin: 1em auto;
    margin-top: 2.5em;
}

.upper-card {
    background-color: var(--primary-col);
    padding: 2em 5%;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    padding-bottom: 1em;
}

.upper-card h4 {
    color: white;
    padding-top: .5em;
    font-size: 16px;
}

.testimony-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #FBB159;
}

.lower-card {
    padding: .5em 1.5em;
    background-color: #FBB159;
    padding-bottom: 2em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.lower-card p {
    font-size: 12px;
    color: #3A0248;
    padding-top: 1em;
}

.customer-name {
    font-weight: 600;
    color: #370244;
    font-size: 14px !important;
}

.pagination-btns {
    display: flex;
    justify-content: center;
    margin: 1.5em 0;
    margin-bottom: 0;
    align-items: center;
}

.pg-btn {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin: 0 .25em;
    border: 1px solid #3A0248;
    cursor: pointer;
}

.pg-btn:nth-of-type(1) {
    background-color: #3A0248;
}

.pg-btn:nth-of-type(2) {
    background-color: white;
    border-color: #FBB159;
}

.pg-btn:nth-of-type(3) {
    background-color: grey;
    border-color: grey;
}

.callback {
    padding: 2em 7%;
    background-color: var(--primary-col);
    padding-bottom: 4em;
    position: relative;
}

.cb-text {
    color: white;
    font-weight: 700;
    font-size: 18px;
    width: 80%;
}

.cta-btn.footer {
    padding: .5em 2em;
    font-weight: 700;
    font-size: 20px;
    width: max-content;
    margin: 1.5em 0;
    text-align: center;
}

.footer-dog {
    position: absolute;
    bottom: 0;
    right: 0;
}

.swiper {
    width: 80%;
    height: 100%;
}

.testimonials .border-container {
    border: none;
    padding: 0;
}

@media(min-width:768px) {
    .navbar-mobile {
        display: none;
    }
    .navbar-desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2em 10%;
    }
    .navbar-desktop .brandwrap img {
        width: 190px;
    }
    body {
        background-position: -100px -100px;
    }
    .hero {
        padding-top: 3em;
        padding-bottom: 9em;
    }
    .dog-mobile {
        width: 70%;
        bottom: -65px;
    }
    .main-heading {
        font-size: 44px;
        padding-right: 10%;
    }
    .main-text {
        font-size: 20px;
        padding-right: 10%;
    }
    .cta-btn {
        font-size: 22px;
    }
    .usp-maintext {
        font-size: 20px;
    }
    .usp-text {
        font-size: 15px;
    }
    .usp {
        padding: 2em 7%;
    }
    .usp img {
        width: 80px;
        height: 80px;
    }
    .unpacked-food,
    .packed-food {
        width: 60%;
        margin: 0 auto;
    }
    .foodpacketimg {
        width: 25% !important;
    }
    .meal-heading,
    .sub-heading,
    .sub-heading-two {
        font-size: 24px;
    }
    .meal-text {
        font-size: 18px;
    }
    .meal-subtext {
        font-size: 16px;
    }
    .video .main-heading {
        font-size: 24px;
    }
    iframe {
        width: 400px;
        height: 300px;
    }
    .video-subtext {
        font-size: 16px;
        width: 80%;
    }
    .cb-text {
        font-size: 18px;
    }
}

@media(min-width:1024px) {
    .boneimg {
        display: none;
    }
    .pawsimg {
        display: none;
    }
    .boneimgdesk {
        display: unset;
        position: absolute;
        bottom: 100px;
        right: 750px;
        z-index: 100;
    }
    .pawsimgdesk {
        display: unset;
        position: absolute;
        right: 20px;
        top: 50px;
        z-index: 100;
    }
    body {
        background: url(images/headerdesk.png);
        background-repeat: no-repeat;
        background-color: var(--primary-col);
        background-position: 0px -30px;
    }
    .navbar-desktop .brandwrap img {
        width: 210px;
    }
    .dog-mobile {
        display: none;
    }
    .dog-desk {
        display: unset;
        width: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
    }
    .hero {
        padding-top: 3em;
    }
    .hero .main-heading {
        width: 50%;
        font-size: 50px;
    }
    .hero .main-text {
        width: 45%;
        font-size: 24px;
    }
    .dog-mobile {
        width: 60%;
        bottom: -100px;
    }
    .features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 4em 5%;
    }
    .border-container {
        border: 0;
        border-right: 6px dashed #370244;
    }
    .border-container-two .sub-heading-two {
        padding-top: 0;
        padding-bottom: .5em;
    }
    .packed-food {
        width: 80%;
    }
    .unpacked-food {
        width: 80%;
    }
    .comparison-text {
        font-size: 30px;
    }
    .bowl-img {
        width: 334px;
    }
    .packet-img {
        width: 298px;
    }
    .usp {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 2.5em;
    }
    .usp-maintext {
        grid-column: 1/5;
        font-size: 30px;
    }
    .usp img {
        width: 125px;
        height: 125px;
    }
    .meal-plans {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .meal-plans img:nth-of-type(1) {
        margin: 4em 0;
        width: 400px;
    }
    .meal-plans .foodpacketimg {
        width: 205px !important;
        margin: 1em 0 !important;
    }
    .border-container-four {
        margin: 2em 0;
    }
    .video-subtext {
        font-size: 25px;
    }
    .video .main-heading {
        font-size: 48px;
    }
    iframe {
        width: 549px;
        height: 395px;
        margin: 0;
    }
    .testimonials img {
        width: 115px;
        height: 115px;
    }
    .upper-card h4 {
        font-size: 20px;
    }
    .customer-name {
        font-size: 17px !important;
    }
    .lower-card p {
        font-size: 15px;
    }
    .callback {
        padding-top: 0;
        padding-bottom: 0;
    }
    .cta-btn.footer {
        display: inline-block;
        width: max-content;
        margin: 2em 0;
        margin-top: 3em;
    }
    .cb-text {
        font-size: 25px;
        width: 55%;
        padding-top: 3em;
    }
    .cta-btn.footer:nth-of-type(2) {
        margin-left: 5em;
    }
    .footer-dog {
        width: 220px;
    }
    /* Image Positioning */
    .unpacked-food .arrow {
        top: 120px;
        left: 100px;
    }
    .unpacked-food .comparison-text:nth-of-type(1) {
        left: 10px;
        top: 80px;
    }
    .unpacked-food .arrowtwo {
        top: 40px;
        left: 260px;
    }
    .unpacked-food .comparison-text:nth-of-type(2) {
        left: 220px;
        top: 0px;
    }
    .unpacked-food .arrowthree {
        top: 120px;
        right: 120px;
    }
    .unpacked-food .comparison-text:nth-of-type(3) {
        right: 10px;
        top: 100px;
    }
    .unpacked-food .arrowfour {
        top: 320px;
        right: 100px;
    }
    .unpacked-food .comparison-text:nth-of-type(4) {
        right: 10px;
        bottom: 100px;
    }
    .unpacked-food .arrowfive {
        bottom: 10px;
        left: 240px;
    }
    .unpacked-food .comparison-text:nth-of-type(5) {
        right: 100px;
        bottom: -30px;
    }
    .unpacked-food .arrowsix {
        bottom: 100px;
        left: 80px;
    }
    .unpacked-food .comparison-text:nth-of-type(6) {
        left: 10px;
        bottom: 60px;
    }
    /* packed food positioning */
    .packed-food .arrow {
        top: 120px;
        left: 325px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    .packed-food .comparison-text:nth-of-type(1) {
        left: -30px;
        top: 110px;
    }
    .packed-food .arrowtwo {
        top: 40px;
        left: 240px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    .packed-food .comparison-text:nth-of-type(2) {
        left: 170px;
        top: 0px;
    }
    .packed-food .arrowthree {
        top: 120px;
        left: 130px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    .packed-food .comparison-text:nth-of-type(3) {
        right: 0px;
        top: 80px;
    }
    .packed-food .arrowfour {
        top: 320px;
        right: 330px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    .packed-food .comparison-text:nth-of-type(4) {
        right: -10px;
        bottom: 60px;
    }
    .packed-food .arrowfive {
        bottom: -5px;
        left: 240px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    .packed-food .comparison-text:nth-of-type(5) {
        right: 100px;
        bottom: -50px;
    }
    .packed-food .arrowsix {
        bottom: 100px;
        left: 320px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    .packed-food .comparison-text:nth-of-type(6) {
        left: 0px;
        bottom: 60px;
    }
    .swiper {
        width: 100%;
    }
    .pawmoblhs {
        position: absolute;
        left: 330px;
        width: 55px !important;
        top: 10px;
    }
    .pawmobrhs {
        position: absolute;
        right: 330px;
        width: 55px !important;
        top: 10px;
    }
    .video .pawmoblhs {
        left: 400px;
    }
    .video .pawmobrhs {
        right: 400px;
    }
}

.swiper-pagination-bullet-active {
    background-color: var(--primary-col) !important;
}

@media(max-width:376px) {
    .boneimg {
        position: absolute;
        left: 40px;
        bottom: 80px;
    }
    .pawsimg {
        position: absolute;
        right: 0px;
        bottom: 250px;
    }
    .unpacked-food .comparison-text:nth-of-type(2) {
        left: 136px;
    }
    .unpacked-food .arrowfive {
        left: 140px;
    }
    .unpacked-food .comparison-text:nth-of-type(5) {
        left: 90px;
    }
    .packed-food .comparison-text:nth-of-type(2) {
        left: 110px;
    }
    .packed-food .arrowthree {
        right: 70px;
    }
    .packed-food .comparison-text:nth-of-type(3) {
        right: -10px;
        top: 70px;
    }
    .packed-food .arrowfive {
        left: 140px;
    }
    .packed-food .comparison-text:nth-of-type(5) {
        left: 100px;
    }
}

@media(max-width:361px) {
    .boneimg {
        position: absolute;
        left: 40px;
        bottom: 80px;
    }
    .pawsimg {
        position: absolute;
        right: 10px;
        bottom: 250px;
    }
}