* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

:root {
    --primary-col: #AB23CC;
    --sec-col: #FBB159;
}

body {
    background: url(images/newheadertop.png);
    background-color: var(--primary-col);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -40px -30px;
}

.header-for-navbar {
    background-color: transparent;
}

.navbar-mobile {
    padding: 1em 7%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}

.navbar-desktop {
    display: none;
}

.brandwrap img {
    width: 150px;
}

.hero {
    padding: 1.5em 10%;
}

.main-heading {
    font-size: 33.45px;
    color: white;
}

.hero {
    background-size: contain;
    background-position: bottom right -50px;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.main-text {
    padding-top: 2em;
    font-size: 14px;
    color: white;
    font-weight: 400;
}

.cta-btn {
    background-color: #FBB159;
    text-decoration: none;
    color: #370244;
    display: block;
    width: max-content;
    padding: .8em 1.4em;
    border-radius: 1em;
    font-size: 16px;
    font-weight: 600;
    margin-top: 3em;
    margin-bottom: 1.5em;
}

.hero .main-text:nth-of-type(2) {
    padding-top: 0;
}

.main-subtext {
    display: block;
    font-size: 10px;
    line-height: 1.25;
    width: 80%;
}

.dog-img-container {
    width: 100%;
}

.dog-mobile {
    width: 120%;
    position: absolute;
    bottom: -60px;
    right: -120px;
}

.features {
    padding: 2em 7%;
    background-color: white;
}

.sub-heading {
    font-size: 18px;
    color: var(--sec-col);
    text-align: center;
    padding-bottom: .5em;
}

.unpacked-food {
    text-align: center;
    padding: 1em 0;
    padding-top: 5em;
    position: relative;
}

.bowl-img {
    width: 200px;
}

.comparison-text {
    font-family: "Dancing script";
    font-weight: 700;
    font-size: 18px;
    color: #AB23CC;
}


/* 1st group */

.comparison-text:nth-of-type(1) {
    position: absolute;
    top: 60px;
    left: 30px;
}

.arrow {
    position: absolute;
    top: 80px;
    left: 65px;
}


/* 2nd group */

.comparison-text:nth-of-type(2) {
    position: absolute;
    top: 15px;
    left: 150px;
}

.arrowtwo {
    position: absolute;
    top: 40px;
    left: 50%;
}


/* group 3 */

.comparison-text:nth-of-type(3) {
    position: absolute;
    top: 78px;
    right: 30px;
}

.arrowthree {
    position: absolute;
    top: 80px;
    right: 100px;
}


/* group 4 */

.comparison-text:nth-of-type(4) {
    position: absolute;
    bottom: 78px;
    right: 8px;
}

.arrowfour {
    position: absolute;
    bottom: 80px;
    right: 70px;
}


/* group 5*/

.comparison-text:nth-of-type(5) {
    position: absolute;
    bottom: -15px;
    left: 100px;
}

.arrowfive {
    position: absolute;
    bottom: 10px;
    left: 160px;
}


/* group 6 */

.comparison-text:nth-of-type(6) {
    position: absolute;
    bottom: 78px;
    left: 8px;
}

.arrowsix {
    position: absolute;
    bottom: 100px;
    left: 50px;
}

.border-container {
    border-bottom: .5em dashed #370244;
    padding-bottom: 3.5em;
}

.sub-heading-two {
    font-size: 18px;
    color: var(--sec-col);
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.packed-food {
    text-align: center;
    padding: 1em 0;
    padding-top: 5em;
    position: relative;
}

.packet-img {
    width: 200px;
    margin-right: -40px;
}

.packed-food .comparison-text:nth-of-type(3) {
    position: absolute;
    top: 78px;
    right: 10px;
}

.packed-food .comparison-text:nth-of-type(4) {
    position: absolute;
    bottom: 95px;
    right: -15px;
}

.packed-food .comparison-text:nth-of-type(5) {
    position: absolute;
    bottom: -15px;
    left: 120px;
}

.packed-food .comparison-text:nth-of-type(2) {
    position: absolute;
    top: 15px;
    left: 130px;
}

.usp {
    padding: 1.5em 7%;
    background-color: var(--primary-col);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1.5em;
}

.usp-maintext {
    font-size: 15px;
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/3;
    color: white;
    padding-bottom: 1em;
}

.usp-div {
    display: flex;
    align-items: center;
}

.usp-img img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: .75em;
}

.usp-text {
    font-size: 11px;
    color: white;
    font-weight: 700;
}

.meal-plans {
    padding: 2em 7%;
    text-align: center;
    background-color: white;
}

.foodpacketimg {
    width: 40% !important;
}

.meal-heading {
    color: #FBB159;
    font-size: 18px;
    text-align: center;
    padding-bottom: .25em;
}

.meal-text {
    color: #370244;
    font-size: 14px;
    text-align: center;
}

.meal-plans img {
    width: 173px;
    margin: 2em 0;
}

.meal-subtext {
    color: var(--primary-col);
    font-size: 12px;
    width: 70%;
    margin: 0 auto;
}

.meal-plans .border-container {
    margin: 2em 0;
    padding: 0;
    padding-bottom: 2em;
}

.video {
    padding: 2em 7%;
    background-color: var(--primary-col);
    text-align: center;
    position: relative;
}

.video .main-heading {
    color: #FBB159;
    padding: 0;
    padding: 0 .5em;
    font-size: 22px;
}

.video-subtext {
    font-size: 12px;
    color: white;
    width: 90%;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 1em;
}

.wpaw {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.paw-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 300px;
    height: 216px;
    margin-top: 1.5em;
    border-radius: 1.5em;
}

.testimonials {
    padding: 2em 5%;
    text-align: center;
    background-color: white;
}

.testimonials .main-heading {
    padding: 0;
    color: var(--primary-col);
}

.testimony-card {
    width: 80%;
    margin: 1em auto;
    margin-top: 2.5em;
}

.upper-card {
    background-color: var(--primary-col);
    padding: 2em 5%;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    padding-bottom: 1em;
}

.upper-card h4 {
    color: white;
    padding-top: .5em;
    font-size: 16px;
}

.testimony-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #FBB159;
}

.lower-card {
    padding: .5em 1.5em;
    background-color: #FBB159;
    padding-bottom: 2em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.lower-card p {
    font-size: 12px;
    color: #3A0248;
    padding-top: 1em;
}

.customer-name {
    font-weight: 600;
    color: #370244;
    font-size: 14px !important;
}

.pagination-btns {
    display: flex;
    justify-content: center;
    margin: 1.5em 0;
    margin-bottom: 0;
    align-items: center;
}

.pg-btn {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin: 0 .25em;
    border: 1px solid #3A0248;
    cursor: pointer;
}

.pg-btn:nth-of-type(1) {
    background-color: #3A0248;
}

.pg-btn:nth-of-type(2) {
    background-color: white;
    border-color: #FBB159;
}

.pg-btn:nth-of-type(3) {
    background-color: grey;
    border-color: grey;
}

.callback {
    padding: 2em 7%;
    background-color: var(--primary-col);
    padding-bottom: 4em;
    position: relative;
}

.cb-text {
    color: white;
    font-weight: 700;
    font-size: 18px;
    width: 80%;
}

.cta-btn.footer {
    padding: .5em 2em;
    font-weight: 700;
    font-size: 20px;
    width: 90px;
    margin: 1.5em 0;
}

.footer-dog {
    position: absolute;
    bottom: 0;
    right: 0;
}

.swiper {
    width: 70%;
    height: 100%;
}

.testimonials .border-container {
    border: none;
    padding: 0;
}

@media(min-width:768px) {
    .navbar-mobile {
        display: none;
    }
    .navbar-desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2em 10%;
    }
    .navbar-desktop .brandwrap img {
        width: 190px;
    }
    body {
        background-position: -100px -100px;
    }
    .hero {
        padding-top: 3em;
        height: 80vh;
    }
    .dog-mobile {
        width: 70%;
        bottom: -65px;
    }
    .main-heading {
        font-size: 44px;
        padding-right: 10%;
    }
    .main-text {
        font-size: 20px;
        padding-right: 10%;
    }
    .cta-btn {
        font-size: 22px;
    }
    .usp-maintext {
        font-size: 20px;
    }
    .usp-text {
        font-size: 15px;
    }
    .usp {
        padding: 2em 7%;
    }
    .usp img {
        width: 80px;
        height: 80px;
    }
    .unpacked-food,
    .packed-food {
        width: 60%;
        margin: 0 auto;
    }
    .foodpacketimg {
        width: 25% !important;
    }
    .meal-heading,
    .sub-heading,
    .sub-heading-two {
        font-size: 24px;
    }
    .meal-text {
        font-size: 18px;
    }
    .meal-subtext {
        font-size: 16px;
    }
    .video .main-heading {
        font-size: 24px;
    }
    video {
        width: 400px;
        height: 300px;
    }
    .video-subtext {
        font-size: 16px;
        width: 80%;
    }
    .cb-text {
        font-size: 18px;
    }
}


}
@media(max-width:361px) {}