* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

.header-for-navbar {
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 1;
}

.navbar-mobile {
    padding: 1em 7%;
    background-color: white;
}

.navbar-desktop {
    display: none;
}

.brandwrap img {
    width: 150px;
}

.hero {
    padding: 1.5em 7%;
    padding-bottom: 0;
}

.main-heading {
    font-size: 22px;
    color: #370244;
    padding-right: 20%;
}

.hero {
    background: url(images/whitevector.svg);
    background-size: cover;
    background-position: 0px -60px;
    background-color: #3A0248;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.main-text {
    padding-top: 2em;
    padding-right: 30%;
    font-size: 12px;
    color: #370244;
    font-weight: 400;
}

.cta-btn {
    background-color: #FBB159;
    text-decoration: none;
    color: #370244;
    display: block;
    width: max-content;
    padding: .8em 1.4em;
    border-radius: 2em;
    font-size: 16px;
    font-weight: 400;
    margin-top: 2em;
    margin-bottom: 2em;
}

.dog-img-container {
    width: 100%;
}

.dog-mobile {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: -35px;
}

.features {
    padding: 2em 7%;
}

.sub-heading {
    font-size: 18px;
    color: #370244;
    text-align: center;
    padding-bottom: .5em;
}

.unpacked-food {
    text-align: center;
    padding: 1em 0;
    padding-top: 5em;
    position: relative;
}

.bowl-img {
    width: 200px;
}

.comparison-text {
    font-family: "Dancing script";
    font-weight: 700;
    font-size: 18px;
    color: #3A0248;
}


/* 1st group */

.comparison-text:nth-of-type(1) {
    position: absolute;
    top: 60px;
    left: 30px;
}

.arrow {
    position: absolute;
    top: 80px;
    left: 65px;
}


/* 2nd group */

.comparison-text:nth-of-type(2) {
    position: absolute;
    top: 15px;
    left: 150px;
}

.arrowtwo {
    position: absolute;
    top: 40px;
    left: 50%;
}


/* group 3 */

.comparison-text:nth-of-type(3) {
    position: absolute;
    top: 78px;
    right: 30px;
}

.arrowthree {
    position: absolute;
    top: 80px;
    right: 100px;
}


/* group 4 */

.comparison-text:nth-of-type(4) {
    position: absolute;
    bottom: 78px;
    right: 8px;
}

.arrowfour {
    position: absolute;
    bottom: 80px;
    right: 70px;
}


/* group 5*/

.comparison-text:nth-of-type(5) {
    position: absolute;
    bottom: -15px;
    left: 100px;
}

.arrowfive {
    position: absolute;
    bottom: 10px;
    left: 160px;
}


/* group 6 */

.comparison-text:nth-of-type(6) {
    position: absolute;
    bottom: 78px;
    left: 8px;
}

.arrowsix {
    position: absolute;
    bottom: 100px;
    left: 50px;
}

.border-container {
    border-bottom: .5em dashed #370244;
    padding-bottom: 3.5em;
}

.sub-heading-two {
    font-size: 18px;
    color: #370244;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.packed-food {
    text-align: center;
    padding: 1em 0;
    padding-top: 5em;
    position: relative;
}

.packet-img {
    width: 200px;
    margin-right: -40px;
}

.packed-food .comparison-text:nth-of-type(3) {
    position: absolute;
    top: 78px;
    right: 10px;
}

.packed-food .comparison-text:nth-of-type(4) {
    position: absolute;
    bottom: 95px;
    right: -15px;
}

.packed-food .comparison-text:nth-of-type(5) {
    position: absolute;
    bottom: -15px;
    left: 120px;
}

.packed-food .comparison-text:nth-of-type(2) {
    position: absolute;
    top: 15px;
    left: 130px;
}

.usp {
    padding: 1.5em 7%;
    background-color: #3A0248;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1.5em;
    margin-top: 2em;
}

.usp-div {
    display: flex;
    align-items: center;
}

.usp-img img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1em;
}

.usp-text {
    font-size: 11px;
    color: white;
    font-weight: 700;
}

.meal-plans {
    padding: 2em 7%;
    text-align: center;
}

.meal-heading {
    color: #FBB159;
    font-size: 18px;
    text-align: center;
    padding-bottom: .25em;
}

.meal-text {
    color: #370244;
    font-size: 14px;
    text-align: center;
}

.meal-plans img {
    width: 173px;
    margin: 2em 0;
}

.meal-subtext {
    color: #370244;
    font-size: 12px;
    width: 70%;
    margin: 0 auto;
}

.meal-plans .border-container {
    margin: 2em 0;
    padding: 0;
    padding-bottom: 2em;
}

.video {
    padding: 2em 7%;
    background-color: #3A0248;
    text-align: center;
    position: relative;
}

.video .main-heading {
    color: #FBB159;
    padding: 0;
    padding: 0 .5em;
}

.wpaw {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.paw-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 300px;
    height: 216px;
    margin-top: 1.5em;
    border-radius: 1.5em;
}

.testimonials {
    padding: 2em 5%;
    text-align: center;
}

.testimonials .main-heading {
    padding: 0;
}

.testimony-card {
    width: 80%;
    margin: 1em auto;
    margin-top: 2.5em;
}

.upper-card {
    background-color: #3A0248;
    padding: 2em 5%;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    padding-bottom: 1em;
}

.upper-card h4 {
    color: white;
    padding-top: .5em;
    font-size: 16px;
}

.testimony-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #FBB159;
}

.lower-card {
    padding: .5em 1.5em;
    background-color: #FBB159;
    padding-bottom: 2em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.lower-card p {
    font-size: 12px;
    color: #3A0248;
    padding-top: 1em;
}

.customer-name {
    font-weight: 600;
    color: #370244;
    font-size: 14px !important;
}

.pagination-btns {
    display: flex;
    justify-content: center;
    margin: 1.5em 0;
    margin-bottom: 0;
    align-items: center;
}

.pg-btn {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin: 0 .25em;
    border: 1px solid #3A0248;
    cursor: pointer;
}

.pg-btn:nth-of-type(1) {
    background-color: #3A0248;
}

.pg-btn:nth-of-type(2) {
    background-color: white;
    border-color: #FBB159;
}

.pg-btn:nth-of-type(3) {
    background-color: grey;
    border-color: grey;
}

.callback {
    padding: 2em 7%;
    background-color: #3A0248;
    padding-bottom: 4em;
    position: relative;
}

.cb-text {
    color: white;
    font-weight: 700;
    font-size: 22px;
    width: 80%;
}

.cta-btn.footer {
    padding: .5em 3em;
    font-weight: 700;
    font-size: 22px;
}

.footer-dog {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media(min-width:1024px) {
    .navbar-mobile {
        display: none;
    }
    .navbar-desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em 7%;
        max-height: 10vh;
    }
    .navbar-desktop .cta-btn {
        margin: 0;
        font-weight: 600;
    }
    .navbar-desktop .brandwrap img {
        width: 275px;
    }
    .dog-mobile {
        width: 50%;
        right: 0;
    }
    .hero {
        height: auto;
        min-height: 50vh;
        background: url(images/desk-vector.svg);
        background-color: #3A0248;
        background-size: cover;
        background-position: bottom right;
        background-repeat: no-repeat;
        padding: 10em 7%;
        padding-bottom: 12em;
    }
    .hero .main-heading {
        font-size: 32px;
        width: 50%;
    }
    .hero .main-text {
        font-size: 18px;
        width: 42%;
    }
    .hero .cta-btn {
        font-size: 20px;
        font-weight: 600;
        margin-top: 4em;
    }
    .features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 4em 5%;
    }
    .features .border-container {
        border: none;
        border-right: 6px dashed #370244;
        padding: 0 18%;
    }
    .features .border-container-two {
        padding: 0 18%;
    }
    .features .sub-heading {
        font-size: 24px;
        padding-bottom: 1.5em;
    }
    .features .sub-heading-two {
        font-size: 24px;
        padding-bottom: 1.5em;
    }
    .comparison-text {
        font-size: 22px;
    }
    .sub-heading-two {
        padding-top: 0;
    }
    .bowl-img {
        width: 240px;
    }
    .packet-img {
        width: 224px;
    }
    /* .unpacked-food {
        bottom: -31px;
    } */
    /* USP RESPONSIVE */
    .usp {
        padding: 3em 8%;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 5em;
    }
    .usp-text {
        font-size: 16px;
    }
    .usp-img img {
        width: 100px;
        height: 100px;
        margin-right: 1em;
    }
    /* MEAL PLANS */
    .meal-plans {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 4em 5%;
    }
    .meal-plans .border-container {
        border: none;
        border-right: 6px dashed #370244;
        margin: 0;
        padding: 2em 0;
    }
    .meal-plans .border-container-four {
        padding: 2em 0;
    }
    .meal-heading {
        font-size: 32px;
    }
    .meal-text {
        font-size: 22px;
    }
    .meal-subtext {
        font-size: 16px;
        width: 50%;
    }
    .meal-plans img {
        width: 300px;
        margin: 4em 0;
    }
    /* VIDEO */
    .video {
        padding: 3em 10%;
    }
    .paw-heading {
        margin-bottom: 2em;
    }
    .video .main-heading {
        font-size: 32px;
    }
    .video .wpaw {
        width: 39px;
        height: 37px;
    }
    video {
        width: 810px;
        height: 421px;
        margin-bottom: 2em;
    }
    .testimonials {
        padding: 3em 5%;
        display: grid;
        grid-template-columns: 30% 70%;
        place-items: center;
    }
    .testimonials-container {
        border-left: 6px dashed #FBB159;
    }
    .testimonials .main-heading {
        padding-right: 1.5em;
        text-align: right;
        font-size: 32px;
    }
    .testimony-card {
        display: flex;
    }
    .upper-card {
        border-radius: 0;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        padding: 2em 5%;
        min-width: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .upper-card img {
        align-self: center;
    }
    .lower-card {
        border-bottom-left-radius: 0;
        border-top-right-radius: 1em;
        padding: 2em 5%;
        text-align: left;
    }
    .upper-card h4 {
        font-size: 22px;
    }
    .lower-card .customer-name {
        font-size: 18px !important;
        padding: 0;
    }
    .lower-card p {
        font-size: 16px;
    }
    .callback {
        padding: 4em 5%;
        background-color: #3A0248;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-dog {
        display: none;
    }
    .cb-text {
        font-size: 26px;
        width: 60%;
    }
    .cta-btn.footer {
        font-size: 31px;
        padding: .5em 2.5em;
    }
}